:root {
  --pt-serif-font: "PT Serif", serif;
  --montserrat-font: "Montserrat", sans-serif;
  --poppins-font: "Poppins", sans-serif;
  --text-color: #000;
}

/* Landscape phones and down */
/* Landscape phone to portrait tablet */
/* Portrait tablet to landscape and desktop */
/* Large desktop */
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

html {
  font-size: 62.5%;
}

body {
  min-height: 100vh;
  padding: 8rem 26.5rem 2.4rem 24rem;
  display: grid;
  grid-template-rows: auto 2fr auto;
  font-style: normal;
  font-family: var(--poppins-font);
  color: var(--text-color);
  font-size: 1.6rem;
}
@media (max-width: 480px) {
  body {
    width: 100%;
    padding: 7.1rem 1.707rem 2.4rem 1.2rem;
  }
}

ul {
  list-style: none;
}

a {
  text-decoration: none;
}

img {
  max-width: 100%;
}

/*=============== HEADER ===============*/
header {
  width: 100%;
  overflow: hidden;
  margin-bottom: 5rem;
  display: flex;
  justify-content: space-between;
}
header .logo h1 {
  color: var(--text-color);
  font-size: 3.6rem;
  font-style: normal;
  font-weight: 700;
  font-family: var(--pt-serif-font);
  line-height: 4.7rem;
  letter-spacing: -0.045em;
}
header .about {
  flex-basis: 45%;
}
header .about h2 {
  margin-bottom: 1rem;
  font-size: 1.8rem;
  font-weight: 600;
  line-height: 2.7rem;
  text-transform: uppercase;
}
header .about p {
  font-size: 1.8rem;
  font-weight: 400;
  line-height: 2.7rem;
}
@media (max-width: 480px) {
  header {
    flex-direction: column;
    margin-bottom: 1.4rem;
  }
  header .logo {
    margin-bottom: 3.8rem;
  }
  header .about p {
    font-size: 1.4rem;
    line-height: 2.1rem;
    max-width: 33.3rem;
  }
}

/*=============== MAIN CONTENT ===============*/
main {
  width: 100%;
  overflow: hidden;
  margin-bottom: 5rem;
}
main ul {
  display: grid;
  grid-template-columns: repeat(3, 1fr);
}
main ul .items {
  width: 33.575rem;
  padding: 4.9rem 6.144rem 1.7rem 3.731rem;
  position: relative;
}
main ul .items img {
  width: 23.8rem;
  margin-bottom: 1.5rem;
}
main ul .items h3 {
  font-size: 1.8rem;
  font-weight: 600;
  line-height: 2.7rem;
}
main ul .items p {
  position: absolute;
  top: 5rem;
  right: 3.144rem;
  font-size: 1.2rem;
  font-weight: 400;
  line-height: 1.6rem;
  writing-mode: vertical-rl;
  font-family: var(--pt-serif-font);
  text-transform: uppercase;
}
main ul .items:nth-child(3n-1) {
  margin-top: 7.2rem;
}
@media (max-width: 480px) {
  main ul {
    grid-template-columns: repeat(2, 1fr);
  }
  main ul .items {
    width: 17.5rem;
    padding: 3rem 3rem 0.5rem 2rem;
  }
  main ul .items img {
    width: 13.9rem;
    margin-bottom: 0.5rem;
  }
  main ul .items h3 {
    font-size: 1.4rem;
    line-height: 2.1rem;
  }
  main ul .items p {
    top: 3rem;
    right: 1.5rem;
    font-size: 1rem;
    line-height: 1.3rem;
  }
  main ul .items:nth-child(3n-1) {
    margin-top: 0;
  }
  main ul .items:nth-child(2n) {
    margin-top: 4.5rem;
  }
}

/*=============== FOOTER ===============*/
footer {
  text-align: center;
  color: #bdbdbd;
  font-size: 1.4rem;
  font-weight: 500;
  line-height: 1.7rem;
  font-family: var(--montserrat-font);
}
footer p a {
  color: inherit;
}

/*# sourceMappingURL=style.css.map */
