* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

html {
  font-size: 62.5%;
}

body {
  min-height: 100vh;
  padding: 8rem 26.5rem 2.4rem 24rem;
  display: grid;
  grid-template-rows: auto 2fr auto;
  font-style: normal;
  font-family: var(--poppins-font);
  color: var(--text-color);
  font-size: 1.6rem;
}

ul {
  list-style: none;
}

a {
  text-decoration: none;
}

img {
  max-width: 100%;
}
