:root {
  // font-family
  --inconsolata-font: "Inconsolata", monospace;
  --montserrat-font: "Montserrat", sans-serif;
  --space-mono-font: "Space Mono", monospace;

  // color
  --text-color: #4f4f4f;
  --title-color: #333333;
}
