@import "variables";
@import "media-queries";
@import "bases";

/*=============== HEADER ===============*/
header {
  width: 100%;
  overflow: hidden;
  margin-bottom: 5rem;
  display: flex;
  justify-content: space-between;

  .logo {
    h1 {
      color: var(--text-color);
      font-size: 3.6rem;
      font-style: normal;
      font-weight: 700;
      font-family: var(--pt-serif-font);
      line-height: 4.7rem;
      letter-spacing: -0.045em;
    }
  }

  .about {
    flex-basis: 45%;
    h2 {
      margin-bottom: 1rem;
      font-size: 1.8rem;
      font-weight: 600;
      line-height: 2.7rem;
      text-transform: uppercase;
    }

    p {
      font-size: 1.8rem;
      font-weight: 400;
      line-height: 2.7rem;
    }
  }

  @include xs {
    flex-direction: column;
    margin-bottom: 1.4rem;

    .logo {
      margin-bottom: 3.8rem;
    }

    .about {
      p {
        font-size: 1.4rem;
        line-height: 2.1rem;
        max-width: 33.3rem;
      }
    }
  }
}

/*=============== MAIN CONTENT ===============*/
main {
  width: 100%;
  overflow: hidden;
  margin-bottom: 5rem;

  ul {
    display: grid;
    grid-template-columns: repeat(3, 1fr);

    .items {
      width: 33.575rem;
      padding: 4.9rem 6.144rem 1.7rem 3.731rem;
      position: relative;

      img {
        width: 23.8rem;
        margin-bottom: 1.5rem;
      }

      h3 {
        font-size: 1.8rem;
        font-weight: 600;
        line-height: 2.7rem;
      }

      p {
        position: absolute;
        top: 5rem;
        right: 3.144rem;
        font-size: 1.2rem;
        font-weight: 400;
        line-height: 1.6rem;
        writing-mode: vertical-rl;
        font-family: var(--pt-serif-font);
        text-transform: uppercase;
      }
    }

    .items:nth-child(3n - 1) {
      margin-top: 7.2rem;
    }
  }

  @include xs {
    ul {
      grid-template-columns: repeat(2, 1fr);

      .items {
        width: 17.5rem;
        padding: 3rem 3rem 0.5rem 2rem;

        img {
          width: 13.9rem;
          margin-bottom: 0.5rem;
        }

        h3 {
          font-size: 1.4rem;
          line-height: 2.1rem;
        }

        p {
          top: 3rem;
          right: 1.5rem;
          font-size: 1rem;
          line-height: 1.3rem;
        }
      }

      .items:nth-child(3n - 1) {
        margin-top: 0;
      }

      .items:nth-child(2n) {
        margin-top: 4.5rem;
      }
    }
  }
}

/*=============== FOOTER ===============*/
footer {
  text-align: center;
  color: #bdbdbd;
  font-size: 1.4rem;
  font-weight: 500;
  line-height: 1.7rem;
  font-family: var(--montserrat-font);

  p {
    a {
      color: inherit;
    }
  }
}
